name: Build

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Dry-run image build without pushing to the registry
        type: boolean
        required: false
        default: true

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    name: Build image
    uses: huancheng-trili/test-image/.github/workflows/images-wrapper.yml@main
    with:
      dry_run: ${{ inputs.dry_run }}
    secrets: inherit
