name: Build

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Dry-run image build without pushing to the registry
        type: boolean
        required: false
        default: true

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    name: Build image
    uses: huancheng-trili/test-image/.github/workflows/images.yml@main
    with:
      docker_registry: docker.io
      docker_image_base: testorgaaa
      image: serve
      dockerfile: Dockerfile
      dry_run: ${{ inputs.dry_run }}
      ref: main
    secrets: inherit
  build-image2:
    name: Build image
    needs: [build-image]
    uses: huancheng-trili/test-image/.github/workflows/images.yml@main
    with:
      docker_registry: ghcr.io
      docker_image_base: huancheng-trili/test-image
      image: serve
      dockerfile: Dockerfile
      dry_run: ${{ inputs.dry_run }}
      ref: main
    secrets: inherit
