name: Build

on:
  workflow_dispatch:
    inputs:
      dry_run:
        description: Dry-run image build without pushing to the registry
        type: boolean
        required: false
        default: true

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    name: Build image
    uses: huancheng-trili/test-image/.github/workflows/images.yml@main
    with:
      image_id: serve
      image_names: |
        docker.io/testorgaaa/serve
      dockerfile: Dockerfile
      dry_run: ${{ inputs.dry_run }}
      ref: ${{ github.sha }}
    secrets: inherit
